@using ProjetAtrst.ViewModels.Project
@model List<AvailableProjectViewModel>

<h2>المشاريع المتاحة للانضمام</h2>

<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5>@project.Title</h5>
                    <p>@project.Description</p>
                    <p>قائد المشروع: @project.LeaderFullName</p>

                    <form asp-controller="ProjectRequest" asp-action="Send" method="post">
                        <input type="hidden" name="ProjectId" value="@project.Id" />
                        <input type="hidden" name="ReceiverId" value="@project.LeaderId" />
                        <input type="hidden" name="Type" value="Join" />
                        <input type="hidden" name="Message" value="أرغب بالانضمام إلى المشروع." />
                        <button class="btn btn-primary">طلب الانضمام</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
