@using ProjetAtrst.ViewModels.Researcher
@model List<ResearcherViewModel>
@{
    ViewBag.Title = "قائمة الباحثين";
    var projectId = ViewBag.ProjectId;
}

<h2>الباحثون المتاحون للدعوة</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>الاسم الكامل</th>
            <th>الاسم الكامل</th>
            <th>الرتبة</th>
            <th>التخصص</th>
            <th>الإجراء</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.FirstName</td>
				<td>@member.LastName</td>
                <td>@member.Grade</td>
                <td>@member.Speciality</td>
                <td>
                    <form asp-action="SendInvitation" method="post">
                        <input type="hidden" name="receiverId" value="@member.MemberId" />
                        <input type="hidden" name="projectId" value="@projectId" />
                        <button type="submit" class="btn btn-primary">إرسال دعوة</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
